* {
  padding: 0;
  margin: 0;
  font-family: Poppins, Arial, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 1200px;
}

/*----------------------------------NAVBAR-------------------------------------*/
header {
  background-color: transparent;
  height: 60px;
  height: 80px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: drop-shadow(4px 4px 10px #1400ff);
  backdrop-filter: opacity(70%);
  backdrop-filter: blur(10px);
  background-color: rgba(14, 14, 119, 0.7);
}

#nexus-logo {
  margin-left: 54px;
  height: 70px;
  background-image: linear-gradient(to right, #050572, #00b3ff);
  border-radius: 100px;
}

nav {
  padding-right: 5%;
  width: 200px;
  text-align: right;
}

nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
nav i {
  padding: 20px;
  font-size: 25px;
}

nav a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
nav i {
  padding: 20px;
}

a:hover {
  color: #b2e8ff;
  text-decoration: none;
  text-transform: uppercase;
}

/*///////////////////////////////////////////////////////////////*/

/*-----------------------------FRONT-PAGE--------------------------------*/

/* no separeis el nombre por favor :C */
section#title {
  float: left;
  height: 100%;
  width: 70%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  bottom: 0;
}

#subtitle {
  font-size: 2vw;
  font-weight: 200;
  padding-bottom: 5%;
  color: #b2e8ff;
}

#type {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6vw;
}
#type strong {
  color: #b2e8ff;
  font-weight: 600;
}
div#front-page {
  height: 650px;
  background-color: rgb(15, 8, 38);
  color: white;
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(10, 0, 38),
      rgba(141, 118, 215, 0.21)
    ),
    url(images/foto-portada.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10%;
}

h1 {
  text-transform: uppercase;
  font-size: 6vw;
}
#consultora strong {
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 700;
}

/*----------------------CONTACT-BUTTON---------------------------*/

button#info {
  border-radius: 40px;
  width: 230px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background-color: #b2e8ff;
  border-color: transparent;
}

button#info:hover {
  border-color: transparent;
  background-color: #1400ff;
  color: white;
}

button i {
  border-color: transparent;
}

button#info:hover {
  border-color: transparent;
  background-color: #1400ff;
  color: white;
}

button i {
  padding: 10px;
}

/*-----------------------------SERVICES------------------------------*/

#services {
  padding: 5%;
  padding-top: 10%;
  background-color: aliceblue;
}

#services ol {
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#services li {
  background-color: #b2e8ff;
  background-image: linear-gradient(
      to top,
      rgb(10, 0, 38),
      rgba(28, 21, 102, 0.7)
    ),
    url(images/cards-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 15px;
  border-color: transparent;
  display: inline-block;
  width: 25%;
  padding: 3%;
}

#services li:hover {
  background-color: #b2e8ff;
  background-image: linear-gradient(
      to top,
      rgb(10, 0, 38),
      rgba(178, 232, 255, 0.8)
    ),
    url(images/cards-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.encabezado {
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 18px;
}

#services h2 {
  font-size: 45px;
}

/*-------------------------------PROFILES---------------------------------*/

#profiles h2 {
  font-size: 45px;
  padding-left: 5%;
}
#profiles {
  padding: 5% 0;
}

#profiles > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 300px;
  text-align: center;
  margin: 5%;
}

/* #profiles > ul:first-child .picture {
  background-image: url(images/samuel.png);
} */

.image-avatar {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to top,
    rgb(178, 232, 255),
    rgba(20, 0, 255, 1)
  );
}

li.profile {
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.description {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5%;
}

.description i {
  font-size: 35px;
  width: 30%;
}

.description i:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.picture {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to top,
    rgb(178, 232, 255),
    rgba(20, 0, 255, 1)
  );
}
/*----------------------------------SELECTED-PROFILE-------------------------------------*/

#selected-profile {
  height: 900px;
  background-color: aliceblue;
  padding: 0 20% 0 0;
  display: flex;
  justify-content: space-between;
}
.member {
  width: 50%;
  height: 100%;
  background-color: transparent;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.member-description {
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 30px;
}

#selected-profile div.picture {
  height: 500px;
  width: 500px;
  align-self: center;
  flex: 0 0 auto;
}

/*------------------------------SELECTED-MEMBER-DESCRIPTION--------------------------------------*/

#selected-profile div.member-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
div.member-description strong {
  font-size: 20px;
}
#selected-profile h2 {
  font-size: 40px;
  color: #1400ff;
}
.member-contact {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#selected-profile div.member-description div > i {
  font-size: 40px;
}

#member-profile {
  height: 500px;
  width: 500px;
}

/*----------------------------------SELECTED-PROFILE-------------------------------------*/

#selected-profile {
  height: 800px;
  background-color: aliceblue;
}
.member {
  width: 60%;
  height: 100%;
  float: left;
}

.member-description {
  float: left;
  width: 40%;
  height: 100%;
}

/*----------------------------------REVIEW-------------------------------------*/

section#reviews {
  padding: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-summary {
  margin-bottom: 50px;
  font-size: 20px;
}

.stars img {
  width: 220px;
}

.rating-summary p {
  color: #000000;
  font-weight: bold;
}

.reviews {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  text-align: left;
  padding: 100px;
}

.review-card {
  background-color: #ededed;
  border: 2px solid rgb(0, 94, 255);
  border-radius: 10px;
  padding: 15px;
  width: 30%;
  height: 200px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  min-width: 260px;
}

.stars {
  display: flex;
  align-items: center;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.review-header i {
  color: rgb(255, 238, 0);
  font-size: 10px;
}

#Image-user {
  color: black;
  font-size: 15px;
}

#check {
  color: rgb(0, 94, 255);
  font-size: 15px;
}

.date {
  font-size: 12px;
  color: #4c4c4c;
}

.review-body {
  font-size: 14px;
  padding-right: 10px;
  color: #333;
  height: 100%;
  overflow-y: auto;
}

.review-body p {
  margin-top: 20px;
  line-height: 1.5;
}

.review-card:hover {
  border-color: rgb(178, 232, 255);
  background-color: rgb(178, 232, 255);
}

/*------------------------------FOOTER---------------------------------*/

footer {
  background-color: rgb(8, 8, 30);
  color: rgba(255, 255, 255, 0.6);
  width: 100vw; /* Ancho total de la ventana */
  font-weight: 200;
  height: 1000px;
  position: relative;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  flex-wrap: wrap; /* Flex-wrap para pantallas pequeñas */
}

.footer-left,
.footer-right {
  width: 48%; /* Ocuparán casi la mitad del ancho de la pantalla */
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .footer-left,
  .footer-right {
    width: 100%; /* En pantallas pequeñas, ocupan todo el ancho */
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#nexus-logo-footer {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(to right, rgb(11, 0, 61), #1a1aad);
  border-radius: 100px;
  margin-right: 20px;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

footer > h2 {
  font-size: 20px;
  font-weight: 300;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info h3,
.legal-info h3,
.footer-right h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 300;
}

.contact-info p,
.legal-info p,
.footer-right p {
  margin-bottom: 5px;
}
.social-icons i {
  color: rgba(255, 255, 255, 0.6);
}

.legal-info a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.map iframe {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.newsletter input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.newsletter button {
  padding: 10px;
  background-color: rgb(0, 94, 255);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: rgb(178, 232, 255);
  color: rgb(0, 0, 0);
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ffffff50;
  width: 100%;
  background-color: transparent;
  height: auto;
  overflow: hidden;
  bottom: 0;
  position: absolute;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
  color: white;
}

.social-icons img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.footer-bottom p {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}

.footer-transition1 {
  background-color: rgb(38, 41, 66);
  width: 100%;
  height: 10%;
}
.footer-transition2 {
  background-color: rgb(18, 18, 44);
  width: 100%;
  height: 20%;
}

/*-----------------------------FORMULARIO-----------------------------*/

.page-container {
  width: 100%;
  min-height: 800px;
  background-color: #001e45;
  background-image: linear-gradient(to top, rgb(178, 232, 255), #1a1aad);
  padding: 10% 0;
}

.container_formulario {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  width: 60%;
  height: 500px;
  padding: 90px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.datos-personales {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

form#contact-form {
  margin-top: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
  width: 80%;
}

form#contact-form label {
  margin-bottom: 5px;
}

.form-conditions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

form#contact-form input,
form#contact-form textarea {
  width: 100%;
  height: 20px;
  border: 1px solid #dadada;
  border-radius: 8px;
}
#accept {
  display: flex;
  align-items: center;
  width: 70%;
}
#accept p {
  display: inline-block;
  width: 95%;
}
#accept input {
  width: 5px;
  padding: 0;
  margin: 0;
}

button#submit {
  background-color: #b2e8ff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  width: 30%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  align-self: flex-end;
}
button#submit:hover {
  background-color: #1400ff;
  color: #ededed;
}
